#!/usr/bin/make -f

PACKAGE = psi-plus-i18n
DEVELOPER = tehnick
PROJECT = psi-plus-i18n

CUR_VER = $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')

%:
	dh $@ --parallel

override_dh_auto_build:
	./update-repo.sh make

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/$(PACKAGE)/usr/share/psi-plus/
	cp out/*.qm $(CURDIR)/debian/$(PACKAGE)/usr/share/psi-plus/

override_dh_auto_clean:
	dh_clean
	rm -f out/* translations.pro

get-orig-source:
	# preparation
	rm -rf  "$(PACKAGE)-$(CUR_VER)"/ master
	# main sources
	wget -4 "http://nodeload.github.com/$(DEVELOPER)/$(PROJECT)/tarball/master"
	rm -rf $(DEVELOPER)-$(PROJECT)-*
	tar xzf master
	mv $(DEVELOPER)-$(PROJECT)-* "$(PACKAGE)-$(CUR_VER)"
	# tarball
	tar -cJf "$(PACKAGE)_$(CUR_VER).orig.tar.xz" "$(PACKAGE)-$(CUR_VER)"
	# cleaning
	rm -rf "$(PACKAGE)-$(CUR_VER)" "$(CUR_VER)" "master"

.PHONY: override_dh_auto_configure override_dh_auto_test
